{% extends 'wishlist/base.html' %}

{% block conteudo %}

<h1>Criar Nova Lista com Itens</h1>
<form id="lista-form" method="POST">
    {% csrf_token %}

    {{ lista_form.as_p }}

    <h2>Itens</h2>
    <div id="item-container">
        {{ item_formset.management_form }}

        <div class="item-form">
            <label for="id_form-0-nome">Nome do Item:</label>
            <input type="text" name="form-0-nome" id="id_form-0-nome" required placeholder="Nome do Presente"><br>

            <label for="id_form-0-descricao">Descrição do Item:</label>
            <textarea name="form-0-descricao" id="id_form-0-descricao" required
                      placeholder="Descrição do Presente"></textarea><br>

            <label for="id_form-0-site">Link de onde Comprar:</label>
            <input type="url" name="form-0-site" id="id_form-0-site" placeholder="https://exemplo.com" required><br>

            <label for="id_form-0-imagem">Link da Imagem:</label>
            <input type="url" name="form-0-imagem" id="id_form-0-imagem" placeholder="https://exemplo.com/imagem.jpg"
                   required><br>
        </div>

    </div>

    <button type="button" id="add-item">Adicionar Item</button>
    <button type="submit">Criar Lista com Itens</button>
</form>

<script>
    let itemCount = 1;

    document.getElementById('add-item').addEventListener('click', function () {
        const newItemForm = document.createElement('div');
        newItemForm.classList.add('item-form');

        newItemForm.innerHTML = `
            <label for="id_form-${itemCount}-nome">Nome do Item:</label>
            <input type="text" name="form-${itemCount}-nome" id="id_form-${itemCount}-nome" required><br>

            <label for="id_form-${itemCount}-descricao">Descrição do Item:</label>
            <textarea name="form-${itemCount}-descricao" id="id_form-${itemCount}-descricao" required></textarea><br>

            <label for="id_form-${itemCount}-site">Link de onde Comprar:</label>
            <input type="url" name="form-${itemCount}-site" id="id_form-${itemCount}-site" placeholder="https://exemplo.com" required><br>

            <label for="id_form-${itemCount}-imagem">Link da Imagem:</label>
            <input type="url" name="form-${itemCount}-imagem" id="id_form-${itemCount}-imagem" placeholder="https://exemplo.com/imagem.jpg" required><br>
`;

        document.getElementById('item-container').appendChild(newItemForm);

        document.getElementById('id_form-TOTAL_FORMS').value = ++itemCount;
    });
</script>

{% endblock %}
