/* Tema claro - theme.css */

.cor-secundaria {
    /* ouro brilhante */
    background-color: #FFD700;
}

.cor-primaria {
    /*  prata claro  */
    background-color: #C0C0C0;
}

.navbar-theme {
    background-color: #C0C0C0; /* Cor de fundo azul da barra de navegação */
    color: #ffffff; /* Cor do texto na barra de navegação */
    border-bottom: 2px solid #FFD700; /* Borda branca na parte inferior */
}

.footer-theme {
    background-color: #C0C0C0; /* Cor de fundo azul da barra de navegação */
    color: #ffffff; /* Cor do texto na barra de navegação */
    border-top: 2px solid #FFD700; /* Borda branca na parte inferior */
}

.title-theme {
    color: #FFD700; /* Cor do texto dos títulos */
}

.btn-theme {
    color: #000;
}

/* Ajuste de cores para fundo e texto */
body {
    background-color: #ffffff; /* Cor de fundo clara */
    color: #ffffcc; /* Cor de texto escura */
    font-family: 'Noto Serif', serif; /* Apply the font to the body */
}

/* Links */
a {
    color: #007bff; /* Azul padrão para links */
}

a:hover {
    color: #0056b3; /* Cor dos links ao passar o mouse */
}

/* Cabeçalhos */
h1, h2, h3, h4, h5, h6 {
    color: #FFEB3B; /* Cor do texto dos cabeçalhos */
}

/* Botões */
button {
    background-color: #007bff; /* Cor de fundo azul dos botões */
    color: #ffffff; /* Cor do texto nos botões */
    border: none; /* Sem borda */
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Fundo mais escuro ao passar o mouse */
}

/* Inputs e textareas */
input, textarea {
    background-color: #f8f9fa; /* Fundo dos inputs */
    color: #495057; /* Texto dos inputs */
    border: 1px solid #ced4da; /* Borda cinza clara */
    padding: 10px;
}

input:focus, textarea:focus {
    border-color: #80bdff; /* Borda azul clara ao focar no input */
    outline: none;
}

/* Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
}

th {
    background-color: #f1f3f5; /* Fundo do cabeçalho da tabela */
    color: #212529; /* Cor do texto no cabeçalho */
}

tr:nth-child(even) {
    background-color: #f8f9fa; /* Fundo alternado das linhas */
}

/* Alertas */
.alert {
    padding: 15px;
    background-color: #f8f9fa;
    color: #333333;
    border-radius: 5px;
    margin-bottom: 20px;
}

.alert-success {
    background-color: #d4edda; /* Cor verde para alertas de sucesso */
}

.alert-error {
    background-color: #f8d7da; /* Cor vermelha para alertas de erro */
}
