{% extends 'wishlists/base.html' %}

{% block title %}Celebramos! - Ver Wishlist{% endblock %}

{% block content %}
 <h1>Wishlist: {{ wishlist.nome }}</h1>

    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}

        <table>
            <thead>
                <tr>
                    <th>Nome do Item</th>
                    <th>Link de Compra do Item</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr>
                        <td>{{ form.nome_item }}</td>
                        <td>{{ form.link_compra }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit">Salvar Alterações</button>
    </form>

{% endblock %}