{% extends 'wishlists/base.html' %}
{% block title %}Celebramos! - Login{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" name="email" required>

        <label for="password">Senha:</label>
        <input type="password" name="password" required>

        <button type="submit">Entrar</button>
    </form>

    <a href="{% url 'cadastro_usuario' %}">Não tem uma conta? Cadastre-se</a>
    <a href="{% url 'esqueci_senha' %}">Esqueci minha senha!</a>

{% endblock %}